/* screen - inicio-de-sesion */

.inicio-de-sesion {
  background-color: var(--white);
  height: 568px;
  /*width: 320px;*/
  width: 100%;
}

.inicio-de-sesion .overlap-group {
  /*background-color: var(--malachite2);*/
  background-color: #339698;
  background-image: url(assets/image-27@1x_green.png);
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-image: fixed;
  background-image: center;
  
  margin: 0px auto;
  /*height: 568px;*/
  height: 100vh;
  /*position: relative;*/
}

.inicio-de-sesion .frame-125 {
  background-color: var(--white);
  border-radius: 20px;

  /*height: 200px;*/
  /*left: 24px;*/
  /*position: absolute;*/
  /*position: relative;*/
  /*position: relative;*/
  /*top: 108px;*/
  /*width: 272px;*/
  
/*  display: flex; 
  justify-content: center;
  align-content: center;*/
  margin: 40px 30px;
  padding: 0px 30px 50px;

}

.inicio-de-sesion .titulo-bienvenida {
  /*border: 1px solid green;*/
  letter-spacing: 0;
  line-height: 19.2px;
  padding: 24px 10px;
  margin-bottom: 10px;
/*  display: center;
  justify-content: center;
  align-content: center;*/
  text-align: center;
  width: 100%;
}

/*::placeholder {
  color: #ADADAD;
}*/

.inicio-de-sesion .usuario::placeholder,
.inicio-de-sesion .contrasena::placeholder,
.inicio-de-sesion .contrasea-1::placeholder {
  color: #ADADAD;
  opacity: 1; 
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ADADAD;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ADADAD;
}


.inicio-de-sesion .usuario, 
.inicio-de-sesion .contrasena {
  /*align-items: flex-start;*/
  background-color: #f6f6f6;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  /*gap: 10px;*/
/*  left: 38px;*/
  padding: 23px 24px;
  /*position: absolute;*/
  /*top: 86px;*/
  width: 100%;
  margin-bottom: 20px;
  outline: none;
}

.inicio-de-sesion .usuario-1 {
  color: var(--silver-chalice);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -2.00px;
  white-space: nowrap;
}

.inicio-de-sesion .contrasea {
  align-items: flex-start;
  background-color: #f6f6f6;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  /*gap: 32px;*/
  /*left: 38px;*/
  padding: 6px 10px 5px;
  /*position: absolute;*/
  /*top: 147px;*/
  width: 100%;
  margin-bottom: 20px;
}

.inicio-de-sesion .contrasea-1 {
  color: var(--silver-chalice);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -2.00px;
  min-width: 95px;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  width: 90%;
}

.inicio-de-sesion .usuario:focus,
.inicio-de-sesion .contrasea-1:focus {
  outline: none;  
  background-color: transparent;
}

.inicio-de-sesion .eye-1 {
  height: 21px;
  min-width: 21px;
  padding: 4px 0px;

}

.inicio-de-sesion .estado-default-tipo {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
  /*left: 58px;*/
  /*position: absolute;*/
  /*top: 284px;*/
}

.inicio-de-sesion .accesso-google {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.inicio-de-sesion .botn-p {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(131, 195, 137) 0%, rgb(52, 151, 153) 100%);
  border-radius: 15px;
  display: flex;
  gap: 10px;
  padding: 12px 24px;
}

.inicio-de-sesion .botn-primario {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1.00px;
  white-space: nowrap;
}

.inicio-de-sesion .frame-52 {
  /*align-items: flex-start;*/
  /*position: relative;*/
  background-color: #f8f8f8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 12px 0px;
  width: 75%;
}

.inicio-de-sesion .acceder-con {
  color: var(--malachite2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-top: -1.00px;
  min-width: 102px;
  white-space: nowrap;
}

.inicio-de-sesion .image-28 {
  height: 20.4px;
  min-width: 20px;
  margin-left: 10px;
}

.inicio-de-sesion .olvid-mi-contrasea {
  /*left: 70px;*/
  letter-spacing: 0;
  line-height: 15.6px;
  /*position: absolute;*/
  /*top: 207px;*/
  white-space: nowrap;
  width: 132px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.inicio-de-sesion .no-tienes-una-cuenta-regstrate {
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 300;
  /*left: 33px;*/
  letter-spacing: 0;
  line-height: 15.6px;
  margin-bottom: 25px;
  /*position: absolute;*/
  text-align: center;
  /*top: 237px;*/
  white-space: nowrap;
  width: 100%;
}

.inicio-de-sesion .span {
  text-decoration: underline;
}

.inicio-de-sesion .logo-versin-positiva-6 {
  height: 26px;
  left: 96px;
  /*position: absolute;*/
  /*top: 42px;*/
  width: 128px;
}

.align-justify-2 {
  /*position: absolute;*/
  width: 24px;
  height: 24px;
  left: 620px;
  top: 24px;
}

#menu-container {
  position: fixed;
/*  left: 0; 
  top: 0; */
  height: 100%; 
  width: 320px; 
  /*background-color: #333; */
  background-color: #fff; 
  overflow-x: hidden; 
  transition: 0.5s; 
  display: none; 
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.5);

/*  display: flex;
  justify-content: center;
  align-content: center;*/
}

#menu-container a {
  color: white; 
  text-decoration: none; 
  font-size: 16px; 
  display: block; 
  padding: 12px 10px; 
  transition: 0.3s; 
}

#menu-container a:hover {
  background-color: #444; 
}

.menu-hidden #menu-container {
  display: none;
}

.menu-visible #menu-container {
  display: block;
}

