:root { 
  --black: #000000;
  --gallery: #f0f0f0;
  --hint-of-red: #f9f9f9;
  --malachite: #339698;
  --malachite-2: #33969833;
  --storm-dust: #606060;
  --white: #ffffff;
  --cultured-pearl: #f5f5f5;
  --star-dust: #9f9f9f;
  --tranquil: #e4ffff;
  --malachite2: #339698;
  --chicago: #585858;
  --silver-chalice: #adadad;

  --font-size-m2: 24px;
  --font-size-xl: 18px;
  --font-size-xs: 12px;
  --font-size-xs2: 16px;

  --font-size-s: 15px;

  --coconut: #fefefe;
  --pink-swan: #b7b7b7;
  --white-22: #ffffff5e;
  --white2: #ffffff;

  --bon-jour: #e2e2e2;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-light-storm-dust-12px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.poppins-medium-malachite-16px {
  color: var(--malachite);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-malachite-12px {
  color: var(--malachite);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-storm-dust-24px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-malachite-18px {
  color: var(--malachite);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.poppins-medium-malachite-12px {
  color: var(--malachite);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-storm-dust-12px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}


.poppins-normal-storm-dust-16px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-storm-dust-16px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-storm-dust-12px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  text-decoration: none !important;
}

.poppins-normal-malachite-12px {
  color: var(--malachite);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.poppins-normal-star-dust-12px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-white-12px {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-malachite-16px {
  color: var(--malachite2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 600;
}

.border-0-7px-verde {
  border: 0.7px solid var(--malachite2);
}

.border-1px-pink-swan {
  border: 1px solid var(--pink-swan);
}

.poppins-bold-storm-dust-16px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 700;
}

.poppins-normal-star-dust-16px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 400;
}

.poppins-light-chicago-12px {
  color: var(--chicago);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.poppins-normal-star-dust-14px {
  color: var(--star-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-silver-chalice-12px {
  color: var(--silver-chalice);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs3);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-malachite-14px {
  color: var(--malachite2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 700;
}

.poppins-semi-bold-malachite-14px {
  color: var(--malachite2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-storm-dust-14px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-malachite-24px {
  color: var(--malachite2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 600;
}
