:root { 
  --black: #000000;
  --de-york: #83c389;
  --hint-of-red: #f9f9f9;
  --malachite2: #339698;
  --seleccin: #eefafa;
  --storm-dust: #606060;
  --white: #ffffff;
  --white-2: #ffffff5e;
 
  --font-size-xl: 14.4px;
  --font-size-xs: 14px;
  --font-size-xs3: 12px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-normal-storm-dust-12px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs3);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs3);
  font-style: normal;
  font-weight: 600;
}

.poppins-medium-malachite-14px {
  color: var(--malachite2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-white-14-4px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.poppins-medium-storm-dust-12px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs3);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-storm-dust-14px {
  color: var(--storm-dust);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
